In [213]:
# Instalar jdk
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Instalar hadoop
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

# Extrair arquivo
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

# Importando sistema operacional
import os

# Criando variavel de ambiente Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

# Criando variavel de ambiente Spark
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

# Pacote Python para fazer integração do Apache Spark
!pip install -q findspark

# importando o spark
import findspark

# Iniciando o spark
findspark.init()

# Classe central no Spark que fornece uma interface para programação em Spark com DataFrames
from pyspark.sql import *

# Import de funções de tratamento de data frame
from pyspark.sql.functions import *

# Importando todos os tipos para tratamendo de dados
from pyspark.sql.types import *

# Criando variavel spark
spark = SparkSession.builder.getOrCreate()

# testando variavel
spark

In [214]:
# Importando os dados baixados da SEFAZ
file_paths = ["/dadosSefaz/Despesa_por_Mes.csv",
              "/dadosSefaz/Despesa_por_Mes (1).csv",
    "/dadosSefaz/Despesa_por_Mes (2).csv",
    "/dadosSefaz/Despesa_por_Mes (3).csv",
    "/dadosSefaz/Despesa_por_Mes (4).csv",
    "/dadosSefaz/Despesa_por_Mes (5).csv",
    "/dadosSefaz/Despesa_por_Mes (6).csv",
    "/dadosSefaz/Despesa_por_Mes (7).csv",
    "/dadosSefaz/Despesa_por_Mes (8).csv",
    "/dadosSefaz/Despesa_por_Mes (9).csv",
    "/dadosSefaz/Despesa_por_Mes (10).csv",
    "/dadosSefaz/Despesa_por_Mes (11).csv",
    "/dadosSefaz/Despesa_por_Mes (12).csv",
    "/dadosSefaz/Despesa_por_Mes (13).csv",
    "/dadosSefaz/Despesa_por_Mes (14).csv",
    "/dadosSefaz/Despesa_por_Mes (15).csv",
    "/dadosSefaz/Despesa_por_Mes (16).csv",
    "/dadosSefaz/Despesa_por_Mes (17).csv",
    "/dadosSefaz/Despesa_por_Mes (18).csv",
    "/dadosSefaz/Despesa_por_Mes (19).csv",
    "/dadosSefaz/Despesa_por_Mes (20).csv",
    "/dadosSefaz/Despesa_por_Mes (21).csv",
    "/dadosSefaz/Despesa_por_Mes (22).csv",
    "/dadosSefaz/Despesa_por_Mes (23).csv",
    "/dadosSefaz/Despesa_por_Mes (24).csv",
    "/dadosSefaz/Despesa_por_Mes (25).csv",
    "/dadosSefaz/Despesa_por_Mes (26).csv",
    "/dadosSefaz/Despesa_por_Mes (27).csv",
    "/dadosSefaz/Despesa_por_Mes (28).csv",
    "/dadosSefaz/Despesa_por_Mes (29).csv",
    "/dadosSefaz/Despesa_por_Mes (30).csv",
    "/dadosSefaz/Despesa_por_Mes (31).csv",
    "/dadosSefaz/Despesa_por_Mes (32).csv",
    "/dadosSefaz/Despesa_por_Mes (33).csv",
    "/dadosSefaz/Despesa_por_Mes (34).csv",
    "/dadosSefaz/Despesa_por_Mes (35).csv",
    "/dadosSefaz/Despesa_por_Mes (36).csv",
    "/dadosSefaz/Despesa_por_Mes (37).csv",
    "/dadosSefaz/Despesa_por_Mes (38).csv",
    "/dadosSefaz/Despesa_por_Mes (39).csv",
    "/dadosSefaz/Despesa_por_Mes (40).csv",
    "/dadosSefaz/Despesa_por_Mes (41).csv",
    "/dadosSefaz/Despesa_por_Mes (42).csv",
    "/dadosSefaz/Despesa_por_Mes (43).csv",
    "/dadosSefaz/Despesa_por_Mes (44).csv",
    "/dadosSefaz/Despesa_por_Mes (45).csv",
    "/dadosSefaz/Despesa_por_Mes (46).csv",
    "/dadosSefaz/Despesa_por_Mes (47).csv",
    "/dadosSefaz/Despesa_por_Mes (48).csv",
    "/dadosSefaz/Despesa_por_Mes (49).csv",
    "/dadosSefaz/Despesa_por_Mes (50).csv",
    "/dadosSefaz/Despesa_por_Mes (51).csv",
    "/dadosSefaz/Despesa_por_Mes (52).csv",
    "/dadosSefaz/Despesa_por_Mes (53).csv",
    "/dadosSefaz/Despesa_por_Mes (54).csv",
    "/dadosSefaz/Despesa_por_Mes (55).csv",
    "/dadosSefaz/Despesa_por_Mes (56).csv",
    "/dadosSefaz/Despesa_por_Mes (57).csv",
    "/dadosSefaz/Despesa_por_Mes (58).csv",
    "/dadosSefaz/Despesa_por_Mes (59).csv",
    "/dadosSefaz/Despesa_por_Mes (60).csv",
    "/dadosSefaz/Despesa_por_Mes (61).csv",
    "/dadosSefaz/Despesa_por_Mes (62).csv",
    "/dadosSefaz/Despesa_por_Mes (63).csv",
    "/dadosSefaz/Despesa_por_Mes (64).csv",
    "/dadosSefaz/Despesa_por_Mes (65).csv",
    "/dadosSefaz/Despesa_por_Mes (66).csv",
    "/dadosSefaz/Despesa_por_Mes (67).csv",
    "/dadosSefaz/Despesa_por_Mes (68).csv",
    "/dadosSefaz/Despesa_por_Mes (69).csv",
    "/dadosSefaz/Despesa_por_Mes (70).csv",
    "/dadosSefaz/Despesa_por_Mes (71).csv",
    "/dadosSefaz/Despesa_por_Mes (72).csv",
    "/dadosSefaz/Despesa_por_Mes (73).csv",
    "/dadosSefaz/Despesa_por_Mes (74).csv",
    "/dadosSefaz/Despesa_por_Mes (75).csv",
    "/dadosSefaz/Despesa_por_Mes (76).csv",
    "/dadosSefaz/Despesa_por_Mes (77).csv",
    "/dadosSefaz/Despesa_por_Mes (78).csv",
    "/dadosSefaz/Despesa_por_Mes (79).csv",
    "/dadosSefaz/Despesa_por_Mes (80).csv",
    "/dadosSefaz/Despesa_por_Mes (81).csv",
    "/dadosSefaz/Despesa_por_Mes (82).csv",
    "/dadosSefaz/Despesa_por_Mes (83).csv",
    "/dadosSefaz/Despesa_por_Mes (84).csv",
    "/dadosSefaz/Despesa_por_Mes (85).csv",
    "/dadosSefaz/Despesa_por_Mes (86).csv",
    "/dadosSefaz/Despesa_por_Mes (87).csv",
    "/dadosSefaz/Despesa_por_Mes (88).csv",
    "/dadosSefaz/Despesa_por_Mes (89).csv",
    "/dadosSefaz/Despesa_por_Mes (90).csv",
    "/dadosSefaz/Despesa_por_Mes (91).csv",
    "/dadosSefaz/Despesa_por_Mes (92).csv",
    "/dadosSefaz/Despesa_por_Mes (93).csv",
    "/dadosSefaz/Despesa_por_Mes (94).csv",
    "/dadosSefaz/Despesa_por_Mes (95).csv",
    "/dadosSefaz/Despesa_por_Mes (96).csv",
    "/dadosSefaz/Despesa_por_Mes (97).csv",
    "/dadosSefaz/Despesa_por_Mes (98).csv",
    "/dadosSefaz/Despesa_por_Mes (99).csv",
    "/dadosSefaz/Despesa_por_Mes (100).csv",
    "/dadosSefaz/Despesa_por_Mes (101).csv",
    "/dadosSefaz/Despesa_por_Mes (102).csv",
    "/dadosSefaz/Despesa_por_Mes (103).csv",
    "/dadosSefaz/Despesa_por_Mes (104).csv"]

In [215]:
# Lendo dados e atribuindo para variavel
dataFrame = spark.read.csv(file_paths, inferSchema=True)

# Verificando a tipagem 
type(dataFrame)

# Tratando dados do data frame (excluindo coluna vazia, renomeando e tipando os dados)
dataFrame = dataFrame.drop("_c1")
dataFrame = dataFrame.withColumnRenamed("_c0", "Orgao") \
       .withColumnRenamed("_c2", "Data") \
       .withColumnRenamed("_c3", "Nr_da_OB") \
       .withColumnRenamed("_c4", "Nr_do_Empenho") \
       .withColumnRenamed("_c5", "Codigo_Favorecido") \
       .withColumnRenamed("_c6", "Nome_Favorecido") \
       .withColumnRenamed("_c7", "Valor_Bruto") \
       .withColumnRenamed("_c8", "Valor_Retido") \
       .withColumnRenamed("_c9", "Valor_Pago") \
       .withColumn("Data", to_date(col("Data"), "dd/MM/yyyy")) \
       .withColumn("Valor_Bruto", regexp_replace(col("Valor_Bruto"), "\\.", "").cast("string")) \
       .withColumn("Valor_Retido", regexp_replace(col("Valor_Retido"), "\\.", "").cast("string")) \
       .withColumn("Valor_Pago", regexp_replace(col("Valor_Pago"), "\\.", "").cast("string")) \
       .withColumn("Valor_Bruto", regexp_replace(col("Valor_Bruto"), ",", ".").cast("double")) \
       .withColumn("Valor_Retido", regexp_replace(col("Valor_Retido"), ",", ".").cast("double")) \
       .withColumn("Valor_Pago", regexp_replace(col("Valor_Pago"), ",", ".").cast("double"))

# Excluindo primeira linha das tabelas
dataFrame = dataFrame.subtract(dataFrame.limit(1))

# Removendo dados duplicados
dataFrame = dataFrame.dropDuplicates(["Data", "Nr_da_OB", "Codigo_Favorecido",
                                      "Nome_Favorecido", "Valor_Bruto"]) \
                                      .orderBy(col("Data"))

In [ ]:
# Filtando outliers
dataFrameCopia = dataFrame

coluna = 'Valor_Bruto'
desvio_padrao = dataFrameCopia.select(stddev(col(coluna))).first()[0]
media = dataFrameCopia.select(mean(col(coluna))).first()[0]
menor_outlier = media - 3 * desvio_padrao
maior_outlier = media + 3 * desvio_padrao
outliers = dataFrameCopia.filter((col(coluna) < menor_outlier) | (col(coluna) > maior_outlier))

outliers.coalesce(1).write.csv("/downloads/outliers", mode="overwrite")

outliers.show()

In [246]:
# Removendo registros de 2023

df = outliers.filter(col('Data').cast('string').startswith('2023') == False)
df.show(2)

+-----+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
|Orgao|      Data|Nr_da_OB|Nr_do_Empenho|Codigo_Favorecido|     Nome_Favorecido|Valor_Bruto|Valor_Retido|Valor_Pago|
+-----+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
|SEFAZ|2015-01-29|    1454| 2015NE000093|   00360305000104|CAIXA ECONOMICA F...|  7412580.0|         0.0| 7412580.0|
|SEFAZ|2015-01-29|    1398| 2015NE000063|   00000000001759| BANCO DO BRASIL S/A| 3666762.87|         0.0|3666762.87|
+-----+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
only showing top 2 rows

In [247]:
# criando uma tempView para poder usar dataFrame em SQL

df.createOrReplaceTempView("pagamentos")

In [249]:
# Valor total pago

Valor_Total_Pago_SQL = spark.sql("""
SELECT SUM(Valor_Pago) AS Valor_Total_Pago
FROM pagamentos
WHERE Data >= '2015-01-29'
"""
).withColumn('Valor_Total_Pago', format_number(col('Valor_Total_Pago'), 2))

Valor_Total_Pago_SQL.coalesce(1).write.csv("/downloads/Valor_Total_Pago_SQL", mode="overwrite")

Valor_Total_Pago_SQL.show()

+----------------+
|Valor_Total_Pago|
+----------------+
|2,308,054,177.79|
+----------------+

In [251]:
# Média de valores pagos

Media_Valores_Pagos_SQL = spark.sql("""
SELECT AVG(Valor_Pago) AS Media_Valor_Pago
FROM pagamentos
WHERE Data >= '2015-01-29'
"""
).withColumn('Media_Valor_Pago', format_number(col('Media_Valor_Pago'), 2))


Media_Valores_Pagos_SQL.coalesce(1).write.csv("/downloads/Media_Valores_Pagos_SQL", mode="overwrite")

Media_Valores_Pagos_SQL.show()

+----------------+
|Media_Valor_Pago|
+----------------+
|    4,579,472.57|
+----------------+

In [252]:
# Valores pagos ao favorecido por ano

Total_Valores_Pagos_por_Ano_SQL = spark.sql("""
SELECT YEAR(Data) AS Ano, SUM(Valor_Pago) AS Valor_Pago_Por_Ano
FROM pagamentos
WHERE Data >= '2015-01-29'
GROUP BY Ano
ORDER BY Ano
"""
).withColumn('Valor_Pago_Por_Ano', format_number(col('Valor_Pago_Por_Ano'), 2))


Total_Valores_Pagos_por_Ano_SQL.coalesce(1).write.csv("/downloads/Total_Valores_Pagos_por_Ano_SQL", mode="overwrite")

Total_Valores_Pagos_por_Ano_SQL.show()

+----+------------------+
| Ano|Valor_Pago_Por_Ano|
+----+------------------+
|2015|    110,089,471.69|
|2016|    124,212,390.80|
|2017|    289,511,255.94|
|2018|    394,297,931.43|
|2019|    343,955,432.71|
|2020|    321,161,215.66|
|2021|    404,320,345.96|
|2022|    320,506,133.60|
+----+------------------+

In [253]:
# Lista de favorecidos e valores de pagamento

Lista_Favorecidos_e_Pagamentos = spark.sql("""
SELECT Nome_Favorecido, Valor_Pago
FROM pagamentos
WHERE Data >= '2015-01-29'
"""
).withColumn('Valor_Pago', format_number(col('Valor_Pago'), 2))

Lista_Favorecidos_e_Pagamentos.coalesce(1).write.csv("/downloads/Lista_Favorecidos_e_Pagamentos", mode="overwrite")

Lista_Favorecidos_e_Pagamentos.show()

+--------------------+-------------+
|     Nome_Favorecido|   Valor_Pago|
+--------------------+-------------+
|BANCO NACIONAL DE...| 4,255,555.56|
| BANCO DO BRASIL S/A| 3,228,908.01|
| BANCO DO BRASIL S/A| 4,312,944.02|
| BANCO DO BRASIL S/A| 3,666,762.87|
|CAIXA ECONOMICA F...| 7,412,580.00|
| BANCO DO BRASIL S/A| 3,635,733.92|
| BANCO DO BRASIL S/A| 4,349,613.35|
|BANCO NACIONAL DE...| 4,255,555.56|
| BANCO DO BRASIL S/A| 4,328,917.64|
| BANCO DO BRASIL S/A| 3,296,089.52|
| BANCO DO BRASIL S/A| 3,712,148.00|
|BANCO NACIONAL DE...| 4,258,189.84|
| BANCO DO BRASIL S/A| 4,425,999.60|
| BANCO DO BRASIL S/A| 3,969,163.30|
|BANCO NACIONAL DE...| 4,259,815.25|
|CAIXA ECONOMICA F...| 2,606,054.35|
|CAIXA ECONOMICA F...|-2,606,054.35|
| BANCO DO BRASIL S/A| 4,014,726.59|
| BANCO DO BRASIL S/A| 4,415,457.38|
| BANCO DO BRASIL S/A| 4,030,000.00|
+--------------------+-------------+
only showing top 20 rows

In [254]:
dados_2022 = outliers.filter(outliers['Data'].contains('2022'))

In [255]:
# Criando previsão utilizando modelo ARIMA

import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

# Converter DataFrame do Spark para DataFrame do pandas
pandas_df = dados_2022.toPandas()

# Converter a coluna "Data" para o formato datetime
pandas_df['Data'] = pd.to_datetime(pandas_df['Data'])

# Redefinir o índice como uma sequência numérica simples
pandas_df.reset_index(drop=True, inplace=True)

# Criar o modelo ARIMA
order = (1, 0, 1) 
model = ARIMA(pandas_df['Valor_Pago'], order=order)

# Ajustar o modelo aos dados
model_fit = model.fit()


  # Fazendo previsões para os próximos 3 períodos
forecast = model_fit.predict(start=1, end=5)

print(forecast)

1    3.800044e+06
2    3.692578e+06
3    5.247890e+06
4    5.530060e+06
5    4.895500e+06
Name: predicted_mean, dtype: float64

In [258]:
forecast_results = [ 3.80044e+06, 3.69257e+06, 5.247890e+06, 5.5060e+06, 4.895500e+06]

# Criar lista de tuplas com os valores e meses correspondentes
forecast_data = [
    ('2023-01', forecast_results[0]),
    ('2023-02', forecast_results[1]),
    ('2023-03', forecast_results[2]),
    ('2023-04', forecast_results[3]),
    ('2023-05', forecast_results[4])
]

# Criar o esquema do DataFrame
schema = StructType([
    StructField('Data', StringType(), nullable=False),
    StructField('Valor_Pago', FloatType(), nullable=False)
])

# Criar DataFrame do Spark com os valores previstos
arima_2023 = spark.createDataFrame(forecast_data, schema)

# Exibir DataFrame do Spark
arima_2023.withColumn('Valor_Pago', format_number(col('Valor_Pago'), 2))


arima_2023.coalesce(1).write.csv("/downloads/arima_2023", mode="overwrite")

arima_2023.show()

+-------+----------+
|   Data|Valor_Pago|
+-------+----------+
|2023-01| 3800440.0|
|2023-02| 3692570.0|
|2023-03| 5247890.0|
|2023-04| 5506000.0|
|2023-05| 4895500.0|
+-------+----------+