Instalar jdk

In [82]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

instalar hadoop

In [83]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

extrair arquivo

In [84]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

permite interagir com o sistema operacional

In [85]:
import os

criando variavel de ambiente java

In [86]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

criando variavel de ambiente spark

In [87]:
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

pacote Python que facilita a integração do Apache Spark

In [88]:
!pip install -q findspark

importando no projeto

In [89]:
import findspark

iniciando findSpark

In [90]:
findspark.init()

classe central no Spark que fornece uma interface para programação em Spark com DataFrames e Datasets.

In [91]:
from pyspark.sql import SparkSession

import para lidar com colunas da tabela e com substring

In [92]:
from pyspark.sql.functions import col, substring, to_date

importando todos os tipos para tratamendo de dados

In [93]:
from pyspark.sql.types import *

criando variavel spark

In [94]:
spark = SparkSession.builder.getOrCreate()

testando a variavél para ver se esta tudo certo

In [95]:
spark

setando os arquivos vindos da SEFAZ

In [96]:
file_paths = ["/dadosSefaz/Despesa_por_Mes.csv",
              "/dadosSefaz/Despesa_por_Mes (1).csv",
    "/dadosSefaz/Despesa_por_Mes (2).csv",
    "/dadosSefaz/Despesa_por_Mes (3).csv",
    "/dadosSefaz/Despesa_por_Mes (4).csv",
    "/dadosSefaz/Despesa_por_Mes (5).csv",
    "/dadosSefaz/Despesa_por_Mes (6).csv",
    "/dadosSefaz/Despesa_por_Mes (7).csv",
    "/dadosSefaz/Despesa_por_Mes (8).csv",
    "/dadosSefaz/Despesa_por_Mes (9).csv",
    "/dadosSefaz/Despesa_por_Mes (10).csv",
    "/dadosSefaz/Despesa_por_Mes (11).csv",
    "/dadosSefaz/Despesa_por_Mes (12).csv",
    "/dadosSefaz/Despesa_por_Mes (13).csv",
    "/dadosSefaz/Despesa_por_Mes (14).csv",
    "/dadosSefaz/Despesa_por_Mes (15).csv",
    "/dadosSefaz/Despesa_por_Mes (16).csv",
    "/dadosSefaz/Despesa_por_Mes (17).csv",
    "/dadosSefaz/Despesa_por_Mes (18).csv",
    "/dadosSefaz/Despesa_por_Mes (19).csv",
    "/dadosSefaz/Despesa_por_Mes (20).csv",
    "/dadosSefaz/Despesa_por_Mes (21).csv",
    "/dadosSefaz/Despesa_por_Mes (22).csv",
    "/dadosSefaz/Despesa_por_Mes (23).csv",
    "/dadosSefaz/Despesa_por_Mes (24).csv",
    "/dadosSefaz/Despesa_por_Mes (25).csv",
    "/dadosSefaz/Despesa_por_Mes (26).csv",
    "/dadosSefaz/Despesa_por_Mes (27).csv",
    "/dadosSefaz/Despesa_por_Mes (28).csv",
    "/dadosSefaz/Despesa_por_Mes (29).csv",
    "/dadosSefaz/Despesa_por_Mes (30).csv",
    "/dadosSefaz/Despesa_por_Mes (31).csv",
    "/dadosSefaz/Despesa_por_Mes (32).csv",
    "/dadosSefaz/Despesa_por_Mes (33).csv",
    "/dadosSefaz/Despesa_por_Mes (34).csv",
    "/dadosSefaz/Despesa_por_Mes (35).csv",
    "/dadosSefaz/Despesa_por_Mes (36).csv",
    "/dadosSefaz/Despesa_por_Mes (37).csv",
    "/dadosSefaz/Despesa_por_Mes (38).csv",
    "/dadosSefaz/Despesa_por_Mes (39).csv",
    "/dadosSefaz/Despesa_por_Mes (40).csv",
    "/dadosSefaz/Despesa_por_Mes (41).csv",
    "/dadosSefaz/Despesa_por_Mes (42).csv",
    "/dadosSefaz/Despesa_por_Mes (43).csv",
    "/dadosSefaz/Despesa_por_Mes (44).csv",
    "/dadosSefaz/Despesa_por_Mes (45).csv",
    "/dadosSefaz/Despesa_por_Mes (46).csv",
    "/dadosSefaz/Despesa_por_Mes (47).csv",
    "/dadosSefaz/Despesa_por_Mes (48).csv",
    "/dadosSefaz/Despesa_por_Mes (49).csv",
    "/dadosSefaz/Despesa_por_Mes (50).csv",
    "/dadosSefaz/Despesa_por_Mes (51).csv",
    "/dadosSefaz/Despesa_por_Mes (52).csv",
    "/dadosSefaz/Despesa_por_Mes (53).csv",
    "/dadosSefaz/Despesa_por_Mes (54).csv",
    "/dadosSefaz/Despesa_por_Mes (55).csv",
    "/dadosSefaz/Despesa_por_Mes (56).csv",
    "/dadosSefaz/Despesa_por_Mes (57).csv",
    "/dadosSefaz/Despesa_por_Mes (58).csv",
    "/dadosSefaz/Despesa_por_Mes (59).csv",
    "/dadosSefaz/Despesa_por_Mes (60).csv",
    "/dadosSefaz/Despesa_por_Mes (61).csv",
    "/dadosSefaz/Despesa_por_Mes (62).csv",
    "/dadosSefaz/Despesa_por_Mes (63).csv",
    "/dadosSefaz/Despesa_por_Mes (64).csv",
    "/dadosSefaz/Despesa_por_Mes (65).csv",
    "/dadosSefaz/Despesa_por_Mes (66).csv",
    "/dadosSefaz/Despesa_por_Mes (67).csv",
    "/dadosSefaz/Despesa_por_Mes (68).csv",
    "/dadosSefaz/Despesa_por_Mes (69).csv",
    "/dadosSefaz/Despesa_por_Mes (70).csv",
    "/dadosSefaz/Despesa_por_Mes (71).csv",
    "/dadosSefaz/Despesa_por_Mes (72).csv",
    "/dadosSefaz/Despesa_por_Mes (73).csv",
    "/dadosSefaz/Despesa_por_Mes (74).csv",
    "/dadosSefaz/Despesa_por_Mes (75).csv",
    "/dadosSefaz/Despesa_por_Mes (76).csv",
    "/dadosSefaz/Despesa_por_Mes (77).csv",
    "/dadosSefaz/Despesa_por_Mes (78).csv",
    "/dadosSefaz/Despesa_por_Mes (79).csv",
    "/dadosSefaz/Despesa_por_Mes (80).csv",
    "/dadosSefaz/Despesa_por_Mes (81).csv",
    "/dadosSefaz/Despesa_por_Mes (82).csv",
    "/dadosSefaz/Despesa_por_Mes (83).csv",
    "/dadosSefaz/Despesa_por_Mes (84).csv",
    "/dadosSefaz/Despesa_por_Mes (85).csv",
    "/dadosSefaz/Despesa_por_Mes (86).csv",
    "/dadosSefaz/Despesa_por_Mes (87).csv",
    "/dadosSefaz/Despesa_por_Mes (88).csv",
    "/dadosSefaz/Despesa_por_Mes (89).csv",
    "/dadosSefaz/Despesa_por_Mes (90).csv",
    "/dadosSefaz/Despesa_por_Mes (91).csv",
    "/dadosSefaz/Despesa_por_Mes (92).csv",
    "/dadosSefaz/Despesa_por_Mes (93).csv",
    "/dadosSefaz/Despesa_por_Mes (94).csv",
    "/dadosSefaz/Despesa_por_Mes (95).csv",
    "/dadosSefaz/Despesa_por_Mes (96).csv",
    "/dadosSefaz/Despesa_por_Mes (97).csv",
    "/dadosSefaz/Despesa_por_Mes (98).csv",
    "/dadosSefaz/Despesa_por_Mes (99).csv",
    "/dadosSefaz/Despesa_por_Mes (100).csv",
    "/dadosSefaz/Despesa_por_Mes (101).csv",
    "/dadosSefaz/Despesa_por_Mes (102).csv",
    "/dadosSefaz/Despesa_por_Mes (103).csv",
    "/dadosSefaz/Despesa_por_Mes (104).csv"]

convertendo dados para dataFrame

In [97]:
dataFrame = spark.read.csv(file_paths)

vefificando se realmente foi convertido a data frame

In [98]:
type(dataFrame)

pyspark.sql.dataframe.DataFrame

verificando o se foi convertido corretamente os tipos dad variaveis

In [99]:
dataFrame.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [100]:
dataFrame.show(2)

+-----+----------------+----------+--------+-------------+-----------------+--------------------+----------------+-----------------+---------------+
|  _c0|             _c1|       _c2|     _c3|          _c4|              _c5|                 _c6|             _c7|              _c8|            _c9|
+-----+----------------+----------+--------+-------------+-----------------+--------------------+----------------+-----------------+---------------+
|Orgão|Orgão Supervisor|      Data|Nº da OB|Nº do Empenho|Código Favorecido|     Nome Favorecido|Valor Bruto (R$)|Valor Retido (R$)|Valor Pago (R$)|
|SEFAZ|            null|31/08/2016|    4374| 2016NE000096|   00360305000104|CAIXA ECONOMICA F...|       31.022,39|             0,00|      31.022,39|
+-----+----------------+----------+--------+-------------+-----------------+--------------------+----------------+-----------------+---------------+
only showing top 2 rows

renomeando colunas

In [101]:
dataFrame = dataFrame.withColumnRenamed("_c0", "Orgao") \
       .withColumnRenamed("_c1", "Orgao_Supervisor") \
       .withColumnRenamed("_c2", "Data") \
       .withColumnRenamed("_c3", "Nr_da_OB") \
       .withColumnRenamed("_c4", "Nr_do_Empenho") \
       .withColumnRenamed("_c5", "Codigo_Favorecido") \
       .withColumnRenamed("_c6", "Nome_Favorecido") \
       .withColumnRenamed("_c7", "Valor_Bruto") \
       .withColumnRenamed("_c8", "Valor_Retido") \
       .withColumnRenamed("_c9", "Valor_Pago") \

excluindo primeira linha das tabelas

In [102]:
dataFrame = dataFrame.subtract(dataFrame.limit(1))

testando se tudo ocorreu como esperado

In [103]:
dataFrame.show(2)

+-----+----------------+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
|Orgao|Orgao_Supervisor|      Data|Nr_da_OB|Nr_do_Empenho|Codigo_Favorecido|     Nome_Favorecido|Valor_Bruto|Valor_Retido|Valor_Pago|
+-----+----------------+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
|SEFAZ|            null|25/08/2016|    4301| 2016NE000088|      XXX827075XX|MARIA ROSALIA LEA...|     214,29|       64,29|    150,00|
|SEFAZ|            null|23/08/2016|    3959| 2016NE000029|      XXX635735XX|ANTONIO MARCIO DO...|     320,00|        0,00|    320,00|
+-----+----------------+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
only showing top 2 rows

ornenando dados por ano

In [104]:
dataFrame = dataFrame.orderBy(substring(col("Data"), 7, 4))

verificando novamente

In [105]:
dataFrame.show(2)

+-----+----------------+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
|Orgao|Orgao_Supervisor|      Data|Nr_da_OB|Nr_do_Empenho|Codigo_Favorecido|     Nome_Favorecido|Valor_Bruto|Valor_Retido|Valor_Pago|
+-----+----------------+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
|SEFAZ|            null|25/08/2015|    3906| 2015NE000024|      XXX011265XX|FRANCISCO ALBERTO...|      20,00|        0,00|     20,00|
|SEFAZ|            null|12/08/2015|    3631| 2015NE000022|      XXX114285XX|JUAREZ MARQUES FILHO|     200,00|        0,00|    200,00|
+-----+----------------+----------+--------+-------------+-----------------+--------------------+-----------+------------+----------+
only showing top 2 rows

criando o arquivo para exportar

In [106]:
print((dataFrame.count(), len(dataFrame.columns)))

(35720, 10)

In [111]:
dataFrame = dataFrame.dropDuplicates(["Data", "Nr_da_OB", "Codigo_Favorecido", "Nome_Favorecido", "Valor_Bruto"])

In [112]:
print((dataFrame.count(), len(dataFrame.columns)))

(35720, 10)

In [113]:
dataFrame.coalesce(1).write.csv("/sefaz/todos_dados_sefaz-2015-2023(05)", mode="overwrite")