Instalar jdk

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

instalar hadoop

In [2]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

extrair arquivo

In [3]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

permite interagir com o sistema operacional

In [4]:
import os

criando variavel de ambiente java

In [5]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

criando variavel de ambiente spark

In [6]:
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

pacote Python que facilita a integração do Apache Spark

In [7]:
!pip install -q findspark

importando no projeto

In [8]:
import findspark

iniciando findSpark

In [9]:
findspark.init()

classe central no Spark que fornece uma interface para programação em Spark com DataFrames e Datasets.

In [10]:
from pyspark.sql import SparkSession

import para lidar com colunas da tabela e com substring

In [111]:
from pyspark.sql.functions import col,substring

importando todos os tipos para tratamendo de dados

In [11]:
from pyspark.sql.types import *

criando variavel spark

In [13]:
spark = SparkSession.builder.getOrCreate()

testando a variavél para ver se esta tudo certo

In [112]:
spark

setando os arquivos vindos da SEFAZ

In [44]:
file_paths = ["/dadosSefaz/Despesa_por_Mes.csv",
              "/dadosSefaz/Despesa_por_Mes (1).csv",
    "/dadosSefaz/Despesa_por_Mes (2).csv",
    "/dadosSefaz/Despesa_por_Mes (3).csv",
    "/dadosSefaz/Despesa_por_Mes (4).csv",
    "/dadosSefaz/Despesa_por_Mes (5).csv",
    "/dadosSefaz/Despesa_por_Mes (6).csv",
    "/dadosSefaz/Despesa_por_Mes (7).csv",
    "/dadosSefaz/Despesa_por_Mes (8).csv",
    "/dadosSefaz/Despesa_por_Mes (9).csv",
    "/dadosSefaz/Despesa_por_Mes (10).csv",
    "/dadosSefaz/Despesa_por_Mes (11).csv",
    "/dadosSefaz/Despesa_por_Mes (12).csv",
    "/dadosSefaz/Despesa_por_Mes (13).csv",
    "/dadosSefaz/Despesa_por_Mes (14).csv",
    "/dadosSefaz/Despesa_por_Mes (15).csv",
    "/dadosSefaz/Despesa_por_Mes (16).csv",
    "/dadosSefaz/Despesa_por_Mes (17).csv",
    "/dadosSefaz/Despesa_por_Mes (18).csv",
    "/dadosSefaz/Despesa_por_Mes (19).csv",
    "/dadosSefaz/Despesa_por_Mes (20).csv",
    "/dadosSefaz/Despesa_por_Mes (21).csv",
    "/dadosSefaz/Despesa_por_Mes (22).csv",
    "/dadosSefaz/Despesa_por_Mes (23).csv",
    "/dadosSefaz/Despesa_por_Mes (24).csv",
    "/dadosSefaz/Despesa_por_Mes (25).csv",
    "/dadosSefaz/Despesa_por_Mes (26).csv",
    "/dadosSefaz/Despesa_por_Mes (27).csv",
    "/dadosSefaz/Despesa_por_Mes (28).csv",
    "/dadosSefaz/Despesa_por_Mes (29).csv",
    "/dadosSefaz/Despesa_por_Mes (30).csv",
    "/dadosSefaz/Despesa_por_Mes (31).csv",
    "/dadosSefaz/Despesa_por_Mes (32).csv",
    "/dadosSefaz/Despesa_por_Mes (33).csv",
    "/dadosSefaz/Despesa_por_Mes (34).csv",
    "/dadosSefaz/Despesa_por_Mes (35).csv",
    "/dadosSefaz/Despesa_por_Mes (36).csv",
    "/dadosSefaz/Despesa_por_Mes (37).csv",
    "/dadosSefaz/Despesa_por_Mes (38).csv",
    "/dadosSefaz/Despesa_por_Mes (39).csv",
    "/dadosSefaz/Despesa_por_Mes (40).csv",
    "/dadosSefaz/Despesa_por_Mes (41).csv",
    "/dadosSefaz/Despesa_por_Mes (42).csv",
    "/dadosSefaz/Despesa_por_Mes (43).csv",
    "/dadosSefaz/Despesa_por_Mes (44).csv",
    "/dadosSefaz/Despesa_por_Mes (45).csv",
    "/dadosSefaz/Despesa_por_Mes (46).csv",
    "/dadosSefaz/Despesa_por_Mes (47).csv",
    "/dadosSefaz/Despesa_por_Mes (48).csv",
    "/dadosSefaz/Despesa_por_Mes (49).csv",
    "/dadosSefaz/Despesa_por_Mes (50).csv",
    "/dadosSefaz/Despesa_por_Mes (51).csv",
    "/dadosSefaz/Despesa_por_Mes (52).csv",
    "/dadosSefaz/Despesa_por_Mes (53).csv",
    "/dadosSefaz/Despesa_por_Mes (54).csv",
    "/dadosSefaz/Despesa_por_Mes (55).csv",
    "/dadosSefaz/Despesa_por_Mes (56).csv",
    "/dadosSefaz/Despesa_por_Mes (57).csv",
    "/dadosSefaz/Despesa_por_Mes (58).csv",
    "/dadosSefaz/Despesa_por_Mes (59).csv",
    "/dadosSefaz/Despesa_por_Mes (60).csv",
    "/dadosSefaz/Despesa_por_Mes (61).csv",
    "/dadosSefaz/Despesa_por_Mes (62).csv",
    "/dadosSefaz/Despesa_por_Mes (63).csv",
    "/dadosSefaz/Despesa_por_Mes (64).csv",
    "/dadosSefaz/Despesa_por_Mes (65).csv",
    "/dadosSefaz/Despesa_por_Mes (66).csv",
    "/dadosSefaz/Despesa_por_Mes (67).csv",
    "/dadosSefaz/Despesa_por_Mes (68).csv",
    "/dadosSefaz/Despesa_por_Mes (69).csv",
    "/dadosSefaz/Despesa_por_Mes (70).csv",
    "/dadosSefaz/Despesa_por_Mes (71).csv",
    "/dadosSefaz/Despesa_por_Mes (72).csv",
    "/dadosSefaz/Despesa_por_Mes (73).csv",
    "/dadosSefaz/Despesa_por_Mes (74).csv",
    "/dadosSefaz/Despesa_por_Mes (75).csv",
    "/dadosSefaz/Despesa_por_Mes (76).csv",
    "/dadosSefaz/Despesa_por_Mes (77).csv",
    "/dadosSefaz/Despesa_por_Mes (78).csv",
    "/dadosSefaz/Despesa_por_Mes (79).csv",
    "/dadosSefaz/Despesa_por_Mes (80).csv",
    "/dadosSefaz/Despesa_por_Mes (81).csv",
    "/dadosSefaz/Despesa_por_Mes (82).csv",
    "/dadosSefaz/Despesa_por_Mes (83).csv",
    "/dadosSefaz/Despesa_por_Mes (84).csv",
    "/dadosSefaz/Despesa_por_Mes (85).csv",
    "/dadosSefaz/Despesa_por_Mes (86).csv",
    "/dadosSefaz/Despesa_por_Mes (87).csv",
    "/dadosSefaz/Despesa_por_Mes (88).csv",
    "/dadosSefaz/Despesa_por_Mes (89).csv"]

convertendo dados para dataFrame

In [99]:
dataFrame = spark.read.csv(file_paths)

vefificando se realmente foi convertido a data frame

In [113]:
type(dataFrame)

pyspark.sql.dataframe.DataFrame

verificando o se foi convertido corretamente os tipos dad variaveis

In [ ]:
dataFrame.printSchema()

In [85]:
dataFrame.show(2)

+-----+----------------+----------+-------------+-----------------+--------------------+-------------------+------------------+--------------------+
|  _c0|             _c1|       _c2|          _c3|              _c4|                 _c5|                _c6|               _c7|                 _c8|
+-----+----------------+----------+-------------+-----------------+--------------------+-------------------+------------------+--------------------+
|Orgão|Orgão Supervisor|      Data|Nº do Empenho|Código Favorecido|     Nome Favorecido|Valor Original (R$)|Valor Anulado (R$)|Valor Reforçado (R$)|
|SEFAZ|            null|29/12/2018|          674|      XXX296198XX|JOSE CARLOS DE ME...|               0,00|          8.760,40|                0,00|
+-----+----------------+----------+-------------+-----------------+--------------------+-------------------+------------------+--------------------+
only showing top 2 rows

renomeando colunas

In [102]:
dataFrame = dataFrame.withColumnRenamed("_c0", "Orgao") \
       .withColumnRenamed("_c1", "Orgao_Supervisor") \
       .withColumnRenamed("_c2", "Data") \
       .withColumnRenamed("_c3", "Nr_do_Empenho") \
       .withColumnRenamed("_c4", "Codigo_Favorecido") \
       .withColumnRenamed("_c5", "Nome_Favorecido") \
       .withColumnRenamed("_c6", "Valor_Original") \
       .withColumnRenamed("_c7", "Valor_Anulado") \
       .withColumnRenamed("_c8", "Valor_Reforçado")

excluindo primeira linha das tabelas

In [103]:
dataFrame = dataFrame.subtract(dataFrame.limit(1))

testando se tudo ocorreu como esperado

In [114]:
dataFrame.show(2)

+-----+----------------+----------+-------------+-----------------+--------------------+--------------+-------------+---------------+
|Orgao|Orgao_Supervisor|      Data|Nr_do_Empenho|Codigo_Favorecido|     Nome_Favorecido|Valor_Original|Valor_Anulado|Valor_Reforçado|
+-----+----------------+----------+-------------+-----------------+--------------------+--------------+-------------+---------------+
|SEFAZ|            null|02/01/2023|           66|   19294908000183|R. S. DE ALMEIDA ...|     10.994,96|         0,00|           0,00|
|SEFAZ|            null|12/12/2017|          675|      XXX126985XX|JOAO PEREIRA DE B...|     12.202,39|         0,00|           0,00|
+-----+----------------+----------+-------------+-----------------+--------------------+--------------+-------------+---------------+
only showing top 2 rows

dornenando dados por ano

In [108]:
df_ordenado = dataFrame.orderBy(substring(col("Data"), 7, 4))

verificando novamente

In [116]:
df_ordenado.show(2)

+-----+----------------+----------+-------------+-----------------+--------------------+--------------+-------------+---------------+
|Orgao|Orgao_Supervisor|      Data|Nr_do_Empenho|Codigo_Favorecido|     Nome_Favorecido|Valor_Original|Valor_Anulado|Valor_Reforçado|
+-----+----------------+----------+-------------+-----------------+--------------------+--------------+-------------+---------------+
|SEFAZ|            null|02/01/2015|           71|   05814524000130|ELIFRIOS COMERCIO...|     13.820,00|         0,00|           0,00|
|SEFAZ|            null|29/05/2015|           89|   00360305000104|CAIXA ECONOMICA F...|          0,00|         0,00|      65.000,00|
+-----+----------------+----------+-------------+-----------------+--------------------+--------------+-------------+---------------+
only showing top 2 rows

criando o arquivo para exportar

In [110]:
df_filtrado.coalesce(1).write.csv("/sefaz/todos_dados_sefaz-2015-2022", mode="overwrite")